<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizzas</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
